body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
body {
  background-position: center;
  background-size: cover;
  background-image: url("pink.jpg");
  min-height: 100%;
  
}
.background{
  filter: blur(9px);
  -webkit-filter: blur(9px);
}

.w3-bar .w3-button {
  padding: 16px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top:500px;
}
.asian{
    
    margin-top:5%;
    margin-left:28%;
}

.firstbutton{
margin-left:30px;

}



.thirdbutton{
   
   margin-left:50px;
}